In [1]:
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.colors as colors
from mpl_toolkits.axes_grid1 import make_axes_locatable

from pandas import set_option
set_option("display.max_rows", 20)
pd.options.mode.chained_assignment = None

filename = 'data/facies_vectors.csv'
training_data = pd.read_csv(filename)
training_data.head(10)

,Facies,Formation,Well Name,Depth,GR,ILD_log10,DeltaPHI,PHIND,PE,NM_M,RELPOS
0,3,A1 SH,SHRIMPLIN,2793.0,77.45,0.664,9.9,11.915,4.6,1,1.000
1,3,A1 SH,SHRIMPLIN,2793.5,78.26,0.661,14.2,12.565,4.1,1,0.979
2,3,A1 SH,SHRIMPLIN,2794.0,79.05,0.658,14.8,13.050,3.6,1,0.957
3,3,A1 SH,SHRIMPLIN,2794.5,86.10,0.655,13.9,13.115,3.5,1,0.936
4,3,A1 SH,SHRIMPLIN,2795.0,74.58,0.647,13.5,13.300,3.4,1,0.915
5,3,A1 SH,SHRIMPLIN,2795.5,73.97,0.636,14.0,13.385,3.6,1,0.894
6,3,A1 SH,SHRIMPLIN,2796.0,73.72,0.630,15.6,13.930,3.7,1,0.872
7,3,A1 SH,SHRIMPLIN,2796.5,75.65,0.625,16.5,13.920,3.5,1,0.830
8,3,A1 SH,SHRIMPLIN,2797.0,73.79,0.624,16.2,13.980,3.4,1,0.809
9,3,A1 SH,SHRIMPLIN,2797.5,76.89,0.615,16.9,14.220,3.5,1,0.787

In [2]:
grouped = training_data.groupby(['Well Name'])

In [3]:
new_vars = pd.DataFrame()

for key in grouped.groups.keys():
    
    NM_M = grouped.get_group(key)['NM_M'].values
    
    temp_df = pd.DataFrame()
    temp_df['Depth'] = grouped.get_group(key)['Depth']
    temp_df['Well Name'] = [key for _ in range(len(NM_M))]
        
    dh_1 = np.zeros(len(NM_M))
    dh_2 = np.zeros(len(NM_M))
    count1 = 0
    count2 = 0
    
    for i in range(len(NM_M)):
               
        if NM_M[i] == 1:
            
            count1=0
            count2+=0.5
            dh_2[i] += count2
            
        elif NM_M[i] == 2:
            
            count2=0
            count1+=0.5
            dh_1[i] += count1
    
    temp_df['dh_1'] = dh_1
    temp_df['dh_2'] = dh_2
        
    new_vars = new_vars.append(temp_df)

In [4]:
new_vars = new_vars.sort_index()
new_vars =new_vars.drop(['Well Name','Depth'],axis=1)
training_data =  pd.concat([training_data,new_vars],axis=1)
training_data

,Facies,Formation,Well Name,Depth,GR,ILD_log10,DeltaPHI,PHIND,PE,NM_M,RELPOS,dh_1,dh_2
0,3,A1 SH,SHRIMPLIN,2793.0,77.450,0.664,9.900,11.915,4.600,1,1.000,0.0,0.5
1,3,A1 SH,SHRIMPLIN,2793.5,78.260,0.661,14.200,12.565,4.100,1,0.979,0.0,1.0
2,3,A1 SH,SHRIMPLIN,2794.0,79.050,0.658,14.800,13.050,3.600,1,0.957,0.0,1.5
3,3,A1 SH,SHRIMPLIN,2794.5,86.100,0.655,13.900,13.115,3.500,1,0.936,0.0,2.0
4,3,A1 SH,SHRIMPLIN,2795.0,74.580,0.647,13.500,13.300,3.400,1,0.915,0.0,2.5
5,3,A1 SH,SHRIMPLIN,2795.5,73.970,0.636,14.000,13.385,3.600,1,0.894,0.0,3.0
6,3,A1 SH,SHRIMPLIN,2796.0,73.720,0.630,15.600,13.930,3.700,1,0.872,0.0,3.5
7,3,A1 SH,SHRIMPLIN,2796.5,75.650,0.625,16.500,13.920,3.500,1,0.830,0.0,4.0
8,3,A1 SH,SHRIMPLIN,2797.0,73.790,0.624,16.200,13.980,3.400,1,0.809,0.0,4.5
9,3,A1 SH,SHRIMPLIN,2797.5,76.890,0.615,16.900,14.220,3.500,1,0.787,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4139,5,C LM,CHURCHMAN BIBLE,3118.0,55.563,1.052,4.296,7.325,3.805,2,0.726,17.5,0.0
4140,5,C LM,CHURCHMAN BIBLE,3118.5,58.313,1.034,3.863,7.465,3.584,2,0.718,18.0,0.0
4141,5,C LM,CHURCHMAN BIBLE,3119.0,55.344,1.003,2.225,7.541,3.645,2,0.710,18.5,0.0
4142,5,C LM,CHURCHMAN BIBLE,3119.5,53.313,0.972,1.640,7.295,3.629,2,0.702,19.0,0.0
4143,5,C LM,CHURCHMAN BIBLE,3120.0,49.594,0.954,1.494,7.149,3.727,2,0.694,19.5,0.0
4144,5,C LM,CHURCHMAN BIBLE,3120.5,46.719,0.947,1.828,7.254,3.617,2,0.685,20.0,0.0
4145,5,C LM,CHURCHMAN BIBLE,3121.0,44.563,0.953,2.241,8.013,3.344,2,0.677,20.5,0.0
4146,5,C LM,CHURCHMAN BIBLE,3121.5,49.719,0.964,2.925,8.013,3.190,2,0.669,21.0,0.0
4147,5,C LM,CHURCHMAN BIBLE,3122.0,51.469,0.965,3.083,7.708,3.152,2,0.661,21.5,0.0
4148,5,C LM,CHURCHMAN BIBLE,3122.5,50.031,0.970,2.609,6.668,3.295,2,0.653,22.0,0.0

In [5]:
new_vars = pd.DataFrame()

for key in grouped.groups.keys():
    
    NM_M = grouped.get_group(key)['NM_M'].values
    
    temp_df = pd.DataFrame()
    temp_df['Depth'] = grouped.get_group(key)['Depth']
    temp_df['Well Name'] = [key for _ in range(len(NM_M))]
        
    db_1 = np.zeros(len(NM_M))
    db_2 = np.zeros(len(NM_M))
    count1 = 0
    count2 = 0
    
    for i in range(len(NM_M)-1,-1,-1):
               
        if NM_M[i] == 1:
            
            count1=0
            count2+=0.5
            db_2[i] += count2
            
        elif NM_M[i] == 2:
            
            count2=0
            count1+=0.5
            db_1[i] += count1
    
    temp_df['db_1'] = db_1
    temp_df['db_2'] = db_2
        
    new_vars = new_vars.append(temp_df)

In [6]:
new_vars = new_vars.sort_index()
new_vars = new_vars.drop(['Well Name','Depth'],axis=1)
training_data =  pd.concat([training_data,new_vars],axis=1)
training_data

,Facies,Formation,Well Name,Depth,GR,ILD_log10,DeltaPHI,PHIND,PE,NM_M,RELPOS,dh_1,dh_2,db_1,db_2
0,3,A1 SH,SHRIMPLIN,2793.0,77.450,0.664,9.900,11.915,4.600,1,1.000,0.0,0.5,0.0,21.5
1,3,A1 SH,SHRIMPLIN,2793.5,78.260,0.661,14.200,12.565,4.100,1,0.979,0.0,1.0,0.0,21.0
2,3,A1 SH,SHRIMPLIN,2794.0,79.050,0.658,14.800,13.050,3.600,1,0.957,0.0,1.5,0.0,20.5
3,3,A1 SH,SHRIMPLIN,2794.5,86.100,0.655,13.900,13.115,3.500,1,0.936,0.0,2.0,0.0,20.0
4,3,A1 SH,SHRIMPLIN,2795.0,74.580,0.647,13.500,13.300,3.400,1,0.915,0.0,2.5,0.0,19.5
5,3,A1 SH,SHRIMPLIN,2795.5,73.970,0.636,14.000,13.385,3.600,1,0.894,0.0,3.0,0.0,19.0
6,3,A1 SH,SHRIMPLIN,2796.0,73.720,0.630,15.600,13.930,3.700,1,0.872,0.0,3.5,0.0,18.5
7,3,A1 SH,SHRIMPLIN,2796.5,75.650,0.625,16.500,13.920,3.500,1,0.830,0.0,4.0,0.0,18.0
8,3,A1 SH,SHRIMPLIN,2797.0,73.790,0.624,16.200,13.980,3.400,1,0.809,0.0,4.5,0.0,17.5
9,3,A1 SH,SHRIMPLIN,2797.5,76.890,0.615,16.900,14.220,3.500,1,0.787,0.0,5.0,0.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4139,5,C LM,CHURCHMAN BIBLE,3118.0,55.563,1.052,4.296,7.325,3.805,2,0.726,17.5,0.0,5.0,0.0
4140,5,C LM,CHURCHMAN BIBLE,3118.5,58.313,1.034,3.863,7.465,3.584,2,0.718,18.0,0.0,4.5,0.0
4141,5,C LM,CHURCHMAN BIBLE,3119.0,55.344,1.003,2.225,7.541,3.645,2,0.710,18.5,0.0,4.0,0.0
4142,5,C LM,CHURCHMAN BIBLE,3119.5,53.313,0.972,1.640,7.295,3.629,2,0.702,19.0,0.0,3.5,0.0
4143,5,C LM,CHURCHMAN BIBLE,3120.0,49.594,0.954,1.494,7.149,3.727,2,0.694,19.5,0.0,3.0,0.0
4144,5,C LM,CHURCHMAN BIBLE,3120.5,46.719,0.947,1.828,7.254,3.617,2,0.685,20.0,0.0,2.5,0.0
4145,5,C LM,CHURCHMAN BIBLE,3121.0,44.563,0.953,2.241,8.013,3.344,2,0.677,20.5,0.0,2.0,0.0
4146,5,C LM,CHURCHMAN BIBLE,3121.5,49.719,0.964,2.925,8.013,3.190,2,0.669,21.0,0.0,1.5,0.0
4147,5,C LM,CHURCHMAN BIBLE,3122.0,51.469,0.965,3.083,7.708,3.152,2,0.661,21.5,0.0,1.0,0.0
4148,5,C LM,CHURCHMAN BIBLE,3122.5,50.031,0.970,2.609,6.668,3.295,2,0.653,22.0,0.0,0.5,0.0

In [7]:
from imblearn.over_sampling import SMOTE
from sklearn import metrics

In [8]:
id_NM = training_data.NM_M == 1
id_M = training_data.NM_M == 2

NM_training_data = training_data[id_NM]
M_training_data = training_data[id_M]

NM_training_data.replace(to_replace=np.nan,value=-99999,inplace=True)
M_training_data.replace(to_replace=np.nan,value=-99999,inplace=True)

In [1]:
from skrvm import RVC

In [19]:
nm_drop_list = ['Formation', 'Well Name', 'Depth',
                                     'Facies','db_1','dh_1','DeltaPHI','ILD_log10','PE']
m_drop_list = ['Formation', 'Well Name', 'Depth',
                                      'Facies','db_1','dh_1','db_2','dh_2','PE','PHIND']

names = list(np.unique(training_data['Well Name']))

nm_grouped = NM_training_data.groupby(['Well Name'])
m_grouped = M_training_data.groupby(['Well Name'])

scores = []

clf = SVC(kernel='rbf')

for name in names:


    if name == 'Recruit F9':

        #Build list of well names and remove blind well (and remove recruit F9 for NM)
        m_train_names = names.copy()
        m_train_names.remove(name)

        # Do it for marine sediments
        m_test = m_grouped.get_group(name)
        m_X_test = m_test.drop(m_drop_list, axis=1).values
        y_test = m_test['Facies'].values

        m_train = pd.DataFrame()

        for train_name in m_train_names:
            m_train = m_train.append(m_grouped.get_group(train_name))

        id_train_M = m_train.Facies >= 4
        m_train = m_train [id_train_M]
        m_X_train = m_train.drop(m_drop_list, axis=1).values
        m_y_train = m_train['Facies'].values

        #The prediction begins

        #We start with oversampling minority classes
        smt = SMOTE()
        m_X_train, m_y_train = smt.fit_sample(m_X_train,m_y_train)
        
        scaler = StandardScaler().fit(m_X_train)
        m_X_train = scaler.transform(m_X_train)
        m_X_test = scaler.transform(m_X_test)
        
        clf.fit(m_X_train, m_y_train)
        y_pred = clf.predict(m_X_test)

    else:

        #Build list of well names and remove blind well (and remove recruit F9 for NM)
        m_train_names = names.copy()
        m_train_names.remove(name)   

        nm_train_names = m_train_names.copy()
        nm_train_names.remove('Recruit F9')


        # Do it for non-marine sediments
        nm_test = nm_grouped.get_group(name)
        nm_X_test = nm_test.drop(nm_drop_list, axis=1).values
        nm_y_test = nm_test['Facies'].values

        nm_train = pd.DataFrame()

        for train_name in nm_train_names:
            nm_train = nm_train.append(nm_grouped.get_group(train_name))

        id_train_NM = nm_train.Facies <= 3
        nm_train = nm_train [id_train_NM]
        nm_X_train = nm_train.drop(nm_drop_list, axis=1).values
        nm_y_train = nm_train['Facies'].values

        #The prediction begins

        #We start with oversampling minority classes
        smt = SMOTE()
        nm_X_train, nm_y_train = smt.fit_sample(nm_X_train,nm_y_train)
        
        scaler = StandardScaler().fit(nm_X_train)
        nm_X_train = scaler.transform(nm_X_train)
        nm_X_test = scaler.transform(nm_X_test)

        clf.fit(nm_X_train, nm_y_train)
        nm_y_pred = clf.predict(nm_X_test)

        #*********************************************************************#

        # Do it for marine sediments
        m_test = m_grouped.get_group(name)
        m_X_test = m_test.drop(m_drop_list, axis=1).values
        m_y_test = m_test['Facies'].values

        m_train = pd.DataFrame()

        for train_name in m_train_names:
            m_train = m_train.append(m_grouped.get_group(train_name))

        id_train_M = m_train.Facies >= 4
        m_train = m_train [id_train_M]
        m_X_train = m_train.drop(m_drop_list, axis=1).values
        m_y_train = m_train['Facies'].values

        #The prediction begins

        #We start with oversampling minority classes
        smt = SMOTE()
        m_X_train, m_y_train = smt.fit_sample(m_X_train,m_y_train)

        
        scaler = StandardScaler().fit(m_X_train)
        m_X_train = scaler.transform(m_X_train)
        m_X_test = scaler.transform(m_X_test)
        
        clf.fit(m_X_train, m_y_train)
        m_y_pred = clf.predict(m_X_test)

        #================================================================#
        #                         combine results
        #================================================================#

        y_test = np.hstack((nm_y_test,m_y_test))
        y_pred = np.hstack((nm_y_pred,m_y_pred))

    #Scoring
    conf_mat = metrics.confusion_matrix(y_test,y_pred)
#     print(conf_mat)
    try:
        score = metrics.f1_score(y_test, y_pred,average='weighted')
    except:
        score = conf_mat[1,1]/np.sum(conf_mat)
    scores.append(score)
#     print('********')
#     print('Blind well is {0}, F1 score : {1:.4%}\n'.format(name,score))

print("="*30)
print('*********** RESULT ***********')
print("="*30)
print('\nAverage  F1-score is {:.4%}'.format(np.mean(scores)))

==============================
*********** RESULT ***********
==============================

Average  F1-score is 54.6747%